src-tauri/resources/ffmpeg/* filter=lfs diff=lfs merge=lfs -text
src-tauri/resources/tesseract/*.exe filter=lfs diff=lfs merge=lfs -text
src-tauri/resources/tesseract/*.dll filter=lfs diff=lfs merge=lfs -text
src-tauri/resources/tesseract/tessdata/* filter=lfs diff=lfs merge=lfs -text
